<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quizproject">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/amritalogo"
        android:roundIcon="@drawable/amritalogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Amritaquiz"
        tools:targetApi="31">

        <!-- SplashActivity - This should be the entry point -->
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity should not have MAIN and LAUNCHER, it is launched after SplashActivity -->
        <activity android:name=".MainActivity"
            android:exported="true" />

        <!-- QuizActivity -->
        <activity android:name=".QuizActivity"
            android:exported="true" />

        <!-- ScoreSummaryActivity -->
        <activity android:name=".ScoreSummaryActivity"
            android:exported="true" />

        <!-- HistoryActivity -->
        <activity android:name=".HistoryActivity"
            android:exported="true" />

    </application>

</manifest>
